/* DIRECTLIST.TSX */
.direct-list-container{
  border-right: 1px solid #3c3c3c;
  min-height: 100vh;
}
.direct-list-container .direct-head{
  display: flex;
  flex-direction: column;
  border: 1px solid #3c3c3c;
  border-top: none;
  border-left: none;
  width: 350px;
}
.direct-list-container .direct-head .direct-name{
  display: flex;
  justify-content: space-between;
  padding: 2.5rem 1rem 0.5rem 1rem;
}
.direct-list-container .direct-head .direct-name .icon{
  cursor: pointer;
}
.direct-list-container .direct-nav{
  display: flex;
  padding-top: 1rem;
}

.direct-list-container .direct-list{
  border-right: 1px solid #3c3c3c;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 100vh;
}
.direct-list{
  display: none;
}
.show-direct-list{
    display: block;
    max-height: 100vh;
}





/* DIRECTUSERS.TSX */

  .direct-detail .direct-box {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    gap: 1rem;
  }
  .direct-detail .direct-box:hover {
    background: #3c3c3c;
  }
.direct-detail .direct-box .direct-profile-image{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.text-direct{
  width: 100%;
  padding: 0.4rem;
  font-size: 0.8rem;
  color: #ccc;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-direct.active {
  border-bottom: 1px solid #ccc;
}
@media(max-width:650px){
  .direct-list-container{
    width: 100%;
  }
  .direct-list-container .direct-head{
    position: fixed;
    background: #121212 ;
    padding: 0;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 20;
    width: 100%;
    border-right: none;
  }
  .direct-list-container .direct-head .direct-name {
    padding: 1rem 1.5rem 0.5rem 1.5rem;
  } 
  .direct-list-container .direct-head .direct-nav {
    padding: 0;
  } 
  .show-direct-list {
    margin-top: 80px;
  }
  .direct-list-container {
    border-right: none;
    min-height: 100vh;
}
}