*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
*:focus{
  outline: none;
}
h2,p,span{
  font-family:JetBrains Mono ;
}
button {
  padding: 8px 12px;
  border-radius: 10px;
  border: none;
  color: #fff;
  background: #3c3c3c;
  cursor: pointer;
}
.text{
  font-size: 0.8rem;
  color: #ccc;
}
::-webkit-scrollbar {
  width: 10px; 
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #888; 
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* ----------------------------- Light Theme ----------------------------- */
.light-theme {
  transition: 200ms;
  background-color: #ffffff;
  color: #000;
}
.light-theme h2 {
  color: #000;
}
.light-theme p {
  color: #000;
}
.light-theme .icon{
color: #000000;
}
.light-theme .sidebar .link .text-link {
  color: #000000;
}
.light-theme .sidebar .sidebar-content a.active{
  background: #c4c4c4;
}
.light-theme .sidebar-content .link:hover{
  background: #c4c4c4;
}
.light-theme .avatar-name {
  color: #000;
}
.light-theme  .text{
  color: #000;
}
.light-theme .text-direct{
  color: #000;
}
.light-theme .search-container .search-content .search-head input{
  background: #f1f1f1;
  color: #000;
}
.light-theme .profile-content .first-part .profile-text .profile-bio .text-profile {
  color: #000;
}
.light-theme .dropdown-links{
  background: #f1f1f1;
}
.light-theme .dropdown-links .dropdown-link:hover{
  background: #ccc;
}
.light-theme .modal-content{
  background: #ffffff;
}
.light-theme .map-content .map-comment .map-comment-text {
  color: #000;
}
.light-theme .modal-overlay .warning-modal .warning-modal-content {
  background-color:#f1f1f1;
}
.light-theme .modal-overlay .warning-modal .warning-modal-content .warning-modal-content-info textarea{
  background-color: #f1f1f1;
  color: #000;
}
.light-theme .modal-overlay .warning-modal .warning-modal-content .warning-modal-content-head .close {
  color: #000;
}
.light-theme .arrow-btn {
  background-color: #f1f1f1;
}
.light-theme .config-container .config-user-info{
  background: #f1f1f1;
}

.light-theme .config-website-link input{
  background-color: #f1f1f1;
}
.light-theme .config-user-bio textarea{
  background-color: #f1f1f1;
  color: #000;
}



/* ----------------------------- Dark Theme -----------------------------   */
.dark-theme {
  transition: 200ms;
  background-color: #121212;
  color: rgba(255, 255, 255, 0.87);
}

/* ----------------------------- Dark Theme -----------------------------   */

input[type=checkbox] {
  visibility: hidden;
}
.checkbox {
  width: 35px;
  height: 15px;
  background: #555;
  position: relative;
  border-radius: 5px;
}
.checkbox label {
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  transition: all .3s ease;
  cursor: pointer;
  position: absolute;
  top: -2px;
  left: -3px;
  background: #ccc;
}
.checkbox input[type=checkbox]:checked + label {
  left: 20px;
}